/* Colores */
:root{
    --Morado: #4B299D;
    --MoradoClaro: #F2DFF7;
    --Blanco: #FFFFFF;
    --Gris: #F0F0F0;
    --Negro: #000000;
}
/* Accesos rapidos */
body{
    background-color: var(--Morado);
}

/* Diseño base */
.contenedor{
    background-color: var(--Blanco);
    margin: 1rem 1rem 1rem 1rem;
    /* width: 83rem;
    height: 36.5rem; */
    box-shadow: 0 0 20px 2px var(--Gris);
    border-radius: 7px;
}
.contenedorprinc{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.nolata{
    /* height: 36.5rem; */
    display: grid;
    grid-template-rows: 0.5fr 2.5fr;
}
.contenedorImgTb{
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
}
.contenedorDatos{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.contenedorDatos2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.graf1{
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.contenedorGraficas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 0rem 0rem 0rem;
}
.imagen{
    /* background-color: var(--MoradoClaro); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    border-radius: 7px;
    margin: 1rem 0.5rem 0.5rem 1rem;
}
.logo{
    height: 5rem;
    width: 5rem;
}
.tabla{
    background-color: var(--Morado);
    border-radius: 7px;
    margin: 1rem 1rem 0.5rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.2rem;
}
.tabla_tit{
    background-color: var(--Blanco);
    text-align: center;
    color: var(--Morado);
    border-radius: 3px;
    margin: 1.5px;
}
.tabla_campo{
    background-color: var(--MoradoClaro);
    border-radius: 3px;
    margin: 1.5px;
    padding-left: 0.5rem;
}
.gráfica{
    background-color: var(--Gris);
    border-radius: 7px;
    margin: 0.5rem;
}
.lata{
    background-color: var(--Gris);
    border-radius: 7px;
    margin: 1rem 1rem 1rem 0.5rem;
}

.mapa{
    background-color: var(--Gris);
    border-radius: 7px;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}
