{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styleA.css' %}">
    <link rel="stylesheet" href="{% static 'Normalize.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/107/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    
    <title>Real Time</title>
</head>
<body>
    <div class="contenedor">
        <div class="contenedorDos">
            <div class="imagen">
                <img class="logo" src="{% static 'Img/lia.png' %}">
                <img class="logo" src="{% static 'Img/upte.png' %}">
                <img class="logo" src="{% static 'Img/upt.png' %}">
                <img class="logo" src="{% static 'Img/arachnids.png' %}">
                
            </div>
            <div class="mapa" id="map" style="width:350px; height:570px;">

            </div>
        </div>
        <div class="contenedorGraficas">
            <div class="contenedorGraficasDos">
                <div class="gráfica">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="gráfica">
                    <canvas id="temp"></canvas>
                </div>
            </div>
            <div class="contenedorGraficasDos">
                <div class="tabla">
                    <div class="tabla_tit">
                        <p>Altura actual</p>
                    </div>
                    <div class="tabla_campo">
                        <h1 id="app"></h1>
                    </div>
                    <div class="tabla_tit">
                        <p>Altura maxima</p>
                    </div>
                    <div class="tabla_campo">
                        <h1 id="app2"></h1>
                    </div>
                    <div class="tabla_tit">
                        <p>Altura desacople</p>
                    </div>
                    <div class="tabla_campo">
                        <h1 id="app3"></h1>
                    </div>
                </div>
                <div class="gráficam" width="500" height="200">
                    <canvas id="velo"></canvas>
                </div>
            </div>
            <div class="contenedorGraficasDos">
                <div class="gráfica">
                    <canvas id="acel"></canvas>
                </div>
                <div class="gráfica">
                    <canvas id="pres"></canvas>
                </div>
            </div>
        </div>
        <div class="lata" id="3Dcube" style="width: 29%; height: 29%;">
            <div>
                <div>
                    <h2 class="tbtit">GIROSCOPIO</h2>
                    <div class="tbgir">
                        <p><span class="reading">X: <span id="gyroX"></span> rad</span></p>
                        <p><span class="reading">Y: <span id="gyroY"></span> rad</span></p>
                        <p><span class="reading">Z: <span id="gyroZ"></span> rad</span></p>
                    </div>
                    
                </div>
                <div>
                    <h2 class="tbtit">ACELEROMETRO</h2>
                    <div class="tbgir">
                        <p><span class="reading">X: <span id="accX"></span> ms<sup>2</sup></span></p>
                        <p><span class="reading">Y: <span id="accY"></span> ms<sup>2</sup></span></p>
                        <p><span class="reading">Z: <span id="accZ"></span> ms<sup>2</sup></span></p>
                    </div>
                </div>
                <div>
                    <h2 class="tbtit">TEMPERATURA</h2>
                    <div class="tbtemp">
                        <p><span class="reading"><span id="tempe"></span> &deg;C</span></p>
                    </div>
                    <div id="container"></div>
                </div>
              </div>
        </div>
    </div>
    <script src="{% static 'main.js' %}" ></script>
    <script src="{% static 'pru.js' %}" ></script>
    <script src="{% static '3d.js' %}" ></script>
    <script src="{% static 'mapa.js' %}" ></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzdqPpaND_WEWZauxETqi5AdfhaCDI7yw&callback=initMap" async defer></script>
</body>
</html>
